<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>お申込み完了</title>
<link rel="stylesheet" href="css/style4.css">
</head>
<body>
<form action=".php" method="post">
  <input type="hidden" name="college_code" value="4041">
  <input type="hidden" name="form_code" value="1">
  <div id="wrapper" class="bd pc">
    <div id="header">
      <h1>
        <div id="log"><a href="form.html">
        <img src="images/logo12.png" alt="西東京大学"></a>
        <!--images/c_bg_foot_mark.gif-->
        </div>
      </h1>
      <p>
        <a href="" class="cl_a pc pccss">
          <span>西東京大学ホームページに戻る</span>
        </a>
        <a href="" class="cl spcss">
          <span>ホームページ</span>
        </a>
      </p>
    </div>
    
    <div id="midasi" class="bg">
      <div id="flow" class="bg">
        <p class="spcss">
          step01
          > <span>step02</span> > step03
        </p>
        <ul>
          <li>
            Step01<br>情報入力
          </li>
          <li class="arrow">></li>
          <li>
            Step02<br>内容の確認
          </li>
          <li class="arrow">></li>
          <li class="on cl">
            Step03<br>お申込み完了
          </li>
        </ul>
      </div>
    </div>
    <input type="hidden" name="display[]" value="item">
    
    <div class="box_btn_submit">
      <div class="submit_layout">
        <p class="form_next pccss">
          <h2>送信しました</h2>
          <p>この度は資料請求いただき、ありがとうございます。<br>
          お問い合わせいただきました内容を確認後、7日後を目安に送付致します。</p>
	        <form>
	          <input type="button" value="ホームに戻る" onclick="location.href='!top!';">
	        </form>
        </p>
        <!--
        <p class="form_next spcss">
          <input type="image" src="images/.jpg" name="submit[confirm]" value="確認画面へ">
        </p>
        -->
      </div>
    </div>
    <div id="pagetop" class="bd">
      <p>
        <a class="bg scroll" href="#">
          <span>PAGE TOP</span>
        </a>
      </p>
    </div>
    <div id="footer" class="bd">
      <h2 class="pc">
        <!--<img src="images/.jpg" alt="西東京大学">-->
        <h1>
        <div id="log"><a href="form.html">
          <img src="images/logo9.png" alt="西東京大学"></a>
        </div>
      </h1>
      </h2>
      <p>
        <a class="cl_a" href="#">
          <span>資料請求フォームのトップに戻る</span>
        </a>
      </p>
    </div>
    <address class="bg cl bd">&copy;2019 西東京大学 All Rights Reserved.</address>
  </div>
</form>


</body>
</html>